<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">

  <item label="Terminal emulator">
    <action name="Execute"><execute>x-terminal-emulator</execute></action>
  </item>

  <item label="Web browser">
    <action name="Execute"><execute>x-www-browser</execute></action>
  </item>

  <separator />

<menu id="openbox-Graphics" label="Graphics" icon="/usr/share/icons/Humanity/categories/24/applications-graphics.svg" >
<item label="MATE Color Selection" ><action name="Execute"><command><![CDATA[mate-color-select]]></command></action></item>
</menu>
<menu id="openbox-Internet" label="Internet" icon="/usr/share/icons/Humanity/categories/24/applications-internet.svg" >
<item label="Web" ><action name="Execute"><command><![CDATA[epiphany]]></command></action></item>
</menu>
<menu id="openbox-System" label="System" icon="/usr/share/icons/Humanity/categories/24/applications-system.svg" >
<item label="Home Folder" ><action name="Execute"><command><![CDATA[/usr/bin/caja --no-desktop]]></command></action></item>
<item label="Computer" ><action name="Execute"><command><![CDATA[/usr/bin/caja --no-desktop computer:]]></command></action></item>
<item label="GParted" ><action name="Execute"><command><![CDATA[/usr/sbin/gparted]]></command></action></item>
<item label="Terminator" icon="/usr/share/pixmaps/terminator.png" ><action name="Execute"><command><![CDATA[terminator]]></command></action></item>
<item label="btop++" ><action name="Execute"><command><![CDATA[x-terminal-emulator -e btop]]></command></action></item>
<item label="Htop" icon="/usr/share/pixmaps/htop.png" ><action name="Execute"><command><![CDATA[x-terminal-emulator -e htop]]></command></action></item>
<item label="Xwayland" ><action name="Execute"><command><![CDATA[]]></command></action></item>
<item label="Network" ><action name="Execute"><command><![CDATA[/usr/bin/caja --no-desktop network:]]></command></action></item>
<item label="Alacritty" ><action name="Execute"><command><![CDATA[alacritty]]></command></action></item>
<item label="Hardware Locality lstopo" ><action name="Execute"><command><![CDATA[lstopo]]></command></action></item>
<item label="Caja" ><action name="Execute"><command><![CDATA[/usr/bin/caja --no-desktop --browser]]></command></action></item>
</menu>
<menu id="openbox-Multimedia" label="Multimedia" icon="/usr/share/icons/Humanity/categories/24/applications-multimedia.svg" >
<item label="PulseAudio Volume Control" ><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
</menu>
<menu id="openbox-Utilities" label="Utilities" icon="/usr/share/icons/Humanity/categories/24/applications-utilities.svg" >
<item label="Vim" ><action name="Execute"><command><![CDATA[x-terminal-emulator -e vim]]></command></action></item>
<item label="TeXInfo" ><action name="Execute"><command><![CDATA[x-terminal-emulator -e info]]></command></action></item>
<item label="Byobu Terminal" ><action name="Execute"><command><![CDATA[x-terminal-emulator -e env TERM]]></command></action></item>
<item label="Terminator" icon="/usr/share/pixmaps/terminator.png" ><action name="Execute"><command><![CDATA[terminator]]></command></action></item>
<item label="About MATE" ><action name="Execute"><command><![CDATA[mate-about]]></command></action></item>
<item label="Disks" ><action name="Execute"><command><![CDATA[gnome-disks]]></command></action></item>
<item label="CMatrix" ><action name="Execute"><command><![CDATA[x-terminal-emulator -e cmatrix]]></command></action></item>
</menu>
<menu id="openbox-Settings" label="Settings"  >
<item label="PulseAudio Volume Control" ><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
<item label="File Management" ><action name="Execute"><command><![CDATA[/usr/bin/caja-file-management-properties]]></command></action></item>
<item label="Openbox Configuration Manager" icon="/usr/share/pixmaps/obconf.png" ><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
<item label="Disks" ><action name="Execute"><command><![CDATA[gnome-disks]]></command></action></item>
</menu>


  <separator />

  <item label="Exit">
    <action name="Exit" />
  </item>

</menu>

</openbox_menu>
