GatewayInterface wlan0
GatewayName Espetaria_BRInfoStore
GatewayAddress 192.168.4.1

#FirewallRule allow tcp port 53
#FirewallRule allow udp port 53

OTHER CONFIGS:

MaxClients 250
RedirectURL https://www.google.com.br

TrafficControl yes
DownloadLimit 384
UploadLimit 64

SplashPage splash_sitewide.html

BinAuth /etc/nodogsplash/binauth.sh
